<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/mainicon2"
        android:label="@string/app_name"
        android:roundIcon="@drawable/mainicon2"
        android:supportsRtl="true"
        android:theme="@style/Theme.PanjabBharti"
        tools:targetApi="34">
        <activity
            android:name=".Activities.SplashScreen"
            android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity
            android:name=".Activities.JobNotification"
            android:exported="false" />
        <activity
            android:name=".Activities.JobsInfo"
            android:exported="false" />
        <activity
            android:name=".Activities.ApplyFilterActivity"
            android:exported="true">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".Activities.MainActivity"
            android:exported="false">

        </activity>

        <service android:name=".Services.FetchData" />
        <service
            android:name=".Services.PushNotification"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".Services.FetchQualifications" />
    </application>

</manifest>